    body{
text-align: center;
        position: fixed;
 nav {
 background-color: chartreuse;
 padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}
nav a:hover{
    text-decoration: underline;
}
main{

    padding: 20px;
}
    }
    